@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=Luckiest+Guy&display=swap');
$fontMain:'Economica', sans-serif;
$fontRegular:400;
$fontBold:700;

.textSmall{ font-size: 1em;}
.textMedium{ font-size: 2em;}
.textBig {font-size: 3em;}