@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Zilla+Slab:wght@400;700&display=swap');
$fontMain:'Zilla Slab', serif;
$fontRegular:400;
$fontBold:700;

.textSmall{ font-size: 1em;}
.textMedium{ font-size: 2em;}
.textBig {font-size: 3em;}