footer{
	background-color: #322c2c;
	justify-content: space-beatween;
	text-align: center;
	ul{
		
		li{
			list-style: none;
		}
	}
}

.footer__title--dark{
	color: white;
}

.footer__icons--sm img{ 
	width: 6%;
	margin-right: 10px;
}